@keyframes rotate360 {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes sunbeam {
    100% {
        stroke-dasharray: 10;
    }
    50% {
        stroke-dasharray: 7;
    }
}
@keyframes fog {
    100% {
        transform: translate(0,0)
    }
    75% {
       transform: translate(-5,0)
    }
    50% {
        transform: translate(5,0)
    }
    25% {
        transform: translate(0,0)
    }
}
@keyframes rain {
    100% {
        stroke-dashoffset: 10;
    }
    66% {
        stroke-dashoffset: 10;
    }
    33% {
        stroke-dashoffset: 10;
    }
}
@keyframes lightning {
    100% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
}