header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    h1 {
        font-size: $fontSizeLargest;
    }
    div {
        display: flex;
        margin: 1em;
        margin-right: 10%;
        border: solid $borderColourLight;
        border-radius: 10px;
        padding-right: 1em;
        p {
            margin: auto;
            font-size: $fontSizeLarge;
        }
        svg {
           width: 75px;
           height: 75px;
           margin-right: 1em;
           margin-top: 0.2em;
        }
    }
}