path   {
    fill: white;
    stroke: black;
}
.sun {
    fill:rgb(255, 255, 22);
    stroke: orange;
    stroke-width: 2px;
}
line {
    stroke: black;
    stroke-dasharray: 7;
    stroke-width: 2;
}
#bad-weather {
    path {
        fill: lightgray;
    }
}
#rain {
    path {
        fill: rgb(149, 144, 144);
    }
}
#sun {
    line {
        stroke: orange;
        stroke-width: 2;
        stroke-dasharray: 8;
    }
}
#fog {
    line {
        stroke-width: 4;
        stroke-dasharray: 0;
        stroke: gray
    }
}
#lightning {
    fill: yellow;
}