path   {
    fill: white;
    stroke: black;
}
line {
    stroke: black;
    stroke-width: 2;
}
circle {
    fill:rgb(255, 255, 22);
    stroke: orange;
    stroke-width: 2px;
}
.sun {
    animation: rotate360 60s infinite;
    line {
        animation: sunbeam 4s infinite reverse;
        stroke: orange;
        stroke-width: 6;
        stroke-dasharray: 10;
    }
    line:nth-child(odd) {
        animation: sunbeam 4s infinite;
    }
}
.bad-weather {
    path {
        fill: lightgray;
    }
}
.rain {
    path {
        fill: rgb(149, 144, 144);
    }
    line {
        stroke-dasharray: 7;
        animation: rain 1s infinite reverse;
    }
    line:nth-child(odd) {
        animation: rain 1s infinite reverse;
        animation-delay: 0.15s;
    }
}
.fog {
    line {
        stroke-width: 6;
        stroke-dasharray: 0;
        stroke: gray;
        animation: fog 8s infinite;
    }
    line:nth-child(odd) {
        animation: fog 8s infinite reverse;
    }
}
.lightning {
    fill: yellow !important;
    animation: lightning var(--lightning-time) infinite reverse;
}