path   {
    fill: white;
    stroke: black;
}
line {
    stroke: black;
    stroke-dasharray: 7;
    stroke-width: 2;
}
.sun {
    animation: rotate360 60s infinite;
    overflow: visible;
    circle {
        fill:rgb(255, 255, 22);
        stroke: orange;
        stroke-width: 2px;
    }
    line {
        animation: sunbeam 4s infinite reverse;
        stroke: orange;
        stroke-width: 6;
        stroke-dasharray: 10;
    }
    line:nth-child(odd) {
        animation: sunbeam 4s infinite;
    }
}
.bad-weather {
    path {
        fill: lightgray;
    }
}
.rain {
    path {
        fill: rgb(149, 144, 144);
    }
}
.fog {
    line {
        stroke-width: 4;
        stroke-dasharray: 0;
        stroke: gray
    }
}
.lightning {
    fill: yellow;
}