@import "variables";
@import "animations";
@import "header";
@import "svg";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "general";
@import "weatherlist";
@import "forecast";

//some general rules
* {
    font-family: "Montserrat", sans-serif;
}
body {
    margin: 0;
}
#debug {
    display: flex;
    svg {
        width: 75px;
    }
}
#error {
    padding-top: 9em;
}
p {
    font-size: $fontSizeNormal;
    @media screen and (max-width: 600px){font-size: calc($fontSizeNormal / 1.25);}
}
svg {
    z-index: -1;
}





