@import "variables";
@import "animations";
@import "header";
@import "svg";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}
body {
    margin: 0;
}
#debug {
    display: flex;
    svg {
        width: 75px;
    }
}
#content {
    padding-top: 9em;
}







